.azeret-mono-value {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500px;
    font-style: normal;
}

.banner {
    background-image: url(../assets/Hero-bg.png);
    text-align: center;
}

.border-title {
    font-size: 48px;
    font-weight: bold;
    margin: 26px 221px 45px;
}

.banner-p {
    color: rgba(13, 19, 33, 1);
    margin: 26px 321px 45px;
}
.banner-last {
    font-size: 20px;
    padding: 21px 24px;
    border-radius: 8px;
    color: white;
    background-color: rgba(13, 19, 33, 1);
    border: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.banner-last a {
    color: white;
    text-decoration: none;
}

/* #btn{ */
    /* color:white; */

.banner-last {
    font-size: 20px;
    padding: 21px 24px;
    border-radius: 8px;
    color: white;
    background-color: rgba(13, 19, 33, 1);
}

.title {
    border: 1px solid white;
    background-color: #e7eaef52;
    margin: 86px 150px 78px;
    padding: 80px 96px;
    border-radius: 16px;

}

.title-1 {
    text-align: center;
    margin: 0px 47px 48px 47px;
}

.title-2 {
    display: flex;
    border: 1px solid white;
    background-color: white;
    padding: 48px;
    margin: 32px;
    border-radius: 16px;
}

.btn-primary {
    font-size: 20px;
    padding: 12px 20px;
    color: rgba(13, 19, 33, 1);
}

.title-h {
    font-size: 32px;
}

.title-p {
    color: rgba(13, 19, 33, 1);
    font-size: 16px;
}

.main-title {
    text-align: center;
    margin: 78px 295px 48px;
}

.video {
    border-radius: 16px;
    width: 1076px;
    height: 550px;
    margin-top: 32px;
}

.youtube {
    border: 1px solid #0D1321;
    border-radius: 16px;
    width: 1140px;
    height: 614px;
    padding: 32px;
}

.font-style {
    text-align: center;
    margin: 151px 247px 48px;
}

.box {
    display: flex;
    gap: 24px;
    margin: 48px 150px 111px;
}

.box-1 {
    border: 1px solid white;
    padding: 40px;
    background-color: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
}

.box-2 {
    border: 1px solid white;
    padding: 40px;
    background-color: rgba(0, 76, 232, 0.05);
    border-radius: 16px;
}

.box-3 {
    border: 1px solid white;
    padding: 40px;
    background-color: rgba(255, 223, 0, 0.05);
    border-radius: 16px;
}

.hero {
    height: 313px;
    width: 1140px;
    background-image: url(../assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    border: 1px solid;
    border-radius: 16px;
    padding: 64px 48px;
    margin: 48px 150px 80px;
    text-align: center;
}

.head {
    font-weight: bold;
    color: #FFFFFF;
    margin: 0 376px 16px;
}

.title-p1 {
    color: #FFFFFF;
    margin: 16px 219px 24px;
}

.footer-1 {
    width: 548px;
    border-radius: 8px;
    padding: 19px 215px 19px 20px;
    gap: 16px;
}

.footer-2 {
    width: 120px;
    font-size: 20px;
    padding: 17px 19px;
    border-radius: 8px;
}

.icon {
    border: 1px solid wheat;
    border-radius: 16px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 32px 150px;
}